*{
  margin:0 ; 
  padding : 0 ; 
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}

body{
  background-color: #e5e5f7;
opacity: 0.8;

}

.header {
    font-weight: 800;
    text-align:center;
    font-size:2em;
}


.delete {
    background-color: rgba(219, 20, 20, 0.582) ; 
    border:0 ; 
    padding: 5px 8px;
    margin:4px;
    color:white ;
    border-radius: 100%;

    
}

.delete:hover {
  background-color:red ; 
}

.MainContainer{
  display: flex ; 
  flex-direction: column ; 
  justify-content: center;
}

.MyButton {

  border: 1px solid ; 
  padding: 2em ; 
  background-color:rgba(0, 0, 0, 0.87) ; 
  margin:7px; 
  color:white ; 
  border-radius: 5px;
}

.MyButton:hover{
background-color:rgba(0, 0, 0, 0.548);

}


ul {
  
  margin-left: 30px;
  padding: 0;
}

.input-text{
  padding:1em ;
  margin: 2em ;  

}