@{
    var products = (List<ProductModel>)ViewData["Products"];
}

@{ 
    int counter = 1;
}
<h1>Store In-Stock Products</h1>
@foreach (var product in products)
{
        <h3>Product #@counter</h3>
        <ul>
            <li>Id: @product.Id</li>
            <li>Name: @product.Name</li>
            <li>Price: $@product.Price</li>
        </ul>
        <br/>
    counter++;
}
